 * {
   margin: 0px;
   padding: 0px;
 }

 :root {
   --main-font: 'Inter', sans-serif;
 }


 header {
   position: relative;
   background-image: url("https://images.squarespace-cdn.com/content/v1/5909baf6893fc0051bb00c17/1495075351297-G1P1HVD9TUO1EXQVJA4Z/cat-1903024_1920.jpg?format=2500w");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 600px;
   display: flex;
   justify-content: space-between;
   padding: 20px;
 }

 header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.3);
   z-index: 0;
 }

 header>* {
   position: relative;
   z-index: 1;
 }


 #logo {
   height: 80px;
   width: 400px;
 }

 .links {
   height: 40px;
   margin: 25px;
   display: flex;
   column-gap: 35px;
   font-family: var(--main-font);
   font-weight: bold;
   align-items: center;

 }

 .links a {
   font-size: 17px;
   color: white;
   text-decoration: none;
   cursor: pointer;


 }

 .links a:hover {
   color: #f64c4c;
 }

 .links a.active {
   color: #f64c4c;
 }


 #num {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #f64c4c;
   height: 35px;
   width: 150px;
   text-align: center;
   border-radius: 25px;
   font-size: bold;
 }

 #num:hover {
   background-color: #df5f5f;
   color: white;
 }

 #hamburger {
   display: none;
 }

 @media (max-width:1296px) {

   .top-bar {
     display: flex;
     justify-content: space-between;
     column-gap: 20px;
     align-items: center;
     width: 100%;
   }

   #hamburger {
     display: block;
     filter: invert(1);
     cursor: pointer;
   }

   .links {
     display: none;
   }

   header {
     min-height: 60vh;
   }

   #logo {
     width: 200px;
   }
 }

 /* Center content perfectly */
 .center-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
   z-index: 0;
 }

 .center-content h1 {
   font-size: 70px;
   margin-bottom: 20px;
   font-family: var(--main-font);
 }

 .center-content button {
   font-size: 20px;
   padding: 15px 30px;
   background-color: transparent;
   border: 2px solid white;
   border-radius: 25px;
   color: white;
   font-weight: lighter;
   cursor: pointer;
 }

 .center-content button:hover {
   background-color: white;
   color: black;
   font-weight: bold;
 }



 /*  */
 #hamburger {
   display: none;

 }

 .Side-bar {
   display: none;
 }

 .parent-top {
   display: flex;
   justify-content: space-between;
   height: 90px;
   width: 100%;
 }

 @media (max-width:1296px) {
   .parent-top {
     height: 90px;
     width: 100%;
   }



   .Side-bar {
     display: none;
     flex-direction: column;
     position: fixed;
     top: 0px;
     right: 0;
     width: 25%;
     height: 100%;
     background-color: rgb(33, 32, 32);
     padding: 20px;
     font-size: 10px;
     z-index: 1;
   }

   .Side-bar a {
     text-decoration: none;
     color: white;
     font-weight: bold;
     padding: 10px 0;
     font-family: system-ui;
   }

   .Side-bar.active {
     display: flex;
   }

   #num-sidebar {
     background-color: #f64c4c;
     color: white;
     text-align: center;
     padding: 10px;
     border-radius: 25px;
     width: 70px;
   }

   #hamburger {
     display: block;
   }

   #hamburger.hide {
     display: none;
   }

   #close {
     filter: invert(1);
     padding: 5px;
   }

 }

 @media (max-width: 992px) {

   header {
     flex-direction: column;
     align-items: center;
     padding: 20px;
     text-align: center;
   }

   .links {
     justify-content: center;
     gap: 20px;
     margin-top: 20px;
   }

   .center-content h1 {
     font-size: 36px;
   }

   .center-content button {
     font-size: 16px;
     padding: 12px 25px;
   }

 }

 @media (max-width: 600px) {

   .links {
     flex-direction: column;
     gap: 15px;
   }

   #num {
     width: auto;
     padding: 8px 20px;
   }

   .center-content h1 {
     font-size: 28px;
   }

 }


 .center-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
   line-height: 70px;
 }

 .center-content h1 {
   font-size: 70px;
   margin-bottom: 20px;
   letter-spacing: 2px;
   font-family: var(--main-font);
 }

 .center-content h3 {
   font-size: 30px;
   margin-bottom: 20px;
   letter-spacing: 2px;
   font-family: var(--main-font);
   font-weight: 400;
 }



 @media (max-width: 992px) {

   .center-content {
     font-size: 20px;
   }


   .center-content h1 {
     font-size: 36px;
     width: 80%;
   }



 }

 @media (max-width: 600px) {

   .center-content {
     font-size: 28px;
     width: 90%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }

 }

 /* Next */
 #sec1 {
   font-family: "Inter", sans-serif;
   color: rgb(88, 88, 88);
   font-size: 40px;
   text-align: center;
   font-weight: bold;
   max-width: 900px;
   width: 90%;
   margin: 50px auto 30px auto;
 }

 .sec1-form {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 20px;
   flex-wrap: wrap;
   width: 90%;
   max-width: 1200px;
   margin: 0 auto 50px auto;
   margin-bottom: 50px;
 }



 .sec1-items {
   flex: 1;
   min-width: 280px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   text-align: center;
 }

 .sec1-items img {
   width: 100%;
   max-width: 500px;
   height: auto;
   border-radius: 8px;
   margin: 0 auto;
 }

 .sec1-items p {
   font-family: "Inter", sans-serif;
   color: rgb(60, 60, 60);
   font-size: 18px;
   line-height: 1.6;
 }

 .sec1-items2>p {
   font-family: "Inter", sans-serif;
   color: rgb(60, 60, 60);
 }

 .sec1-items2 {
   flex: 1;
   min-width: 280px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   text-align: left;
 }

 .sec1-items2 p {
   font-weight: bold;
   font-size: 20px;
   margin-bottom: 15px;
 }

 .sec1-items2 input,
 .sec1-items2 textarea {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   box-sizing: border-box;
 }

 #checkbox {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 10px;
 }

 #checkbox>label {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 15px;
 }

 #btn {
   background-color: #f64c4c;
   color: white;
   border: none;
   font-size: 16px;
   padding: 12px;
   cursor: pointer;
   width: 100%;
   margin-top: 10px;
 }

 .text1 {
   width: 90%;
   max-width: 900px;
   margin: 20px auto;
   font-size: 20px;
   line-height: 1.6;
   color: #444;
   text-align: justify;
   font-family: cursive;
 }

 @media (max-width:800px) {

   .text1 {
     margin: 50px auto;
   }
 }

 footer {
   background-color: #1f1f1f;
   padding: 40px 20px;
   margin-top: 50px;
 }


 .logos {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;
   padding: 20px 0;
   background-color: #333;
 }

 .item {
   border-radius: 50%;
   padding: 10px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .logos img {
   width: 20px;
   height: 20px;
   cursor: pointer;
 }


 .footer-info>div:first-child {
   color: white;
   margin: 40px auto;
   display: flex;
   justify-content: center;
   gap: 25px;
   flex-wrap: wrap;
   text-align: center;
   font-size: 17px;
   font-family: var(--main-font);
   letter-spacing: 2px;
 }


 #address {
   color: #c2bcbc;
   text-align: center;
   max-width: 600px;
   margin: 0 auto 30px;
   line-height: 1.6;
   padding: 0 15px;
   font-size: 14px;
 }


 #developer {
   text-align: center;
   font-size: 18px;
   color: #918383;
   margin-top: 20px;
 }


 @media (max-width: 768px) {

   .footer-info>div:first-child {
     flex-direction: column;
     gap: 15px;
     font-size: 17px;

   }

   .logos {
     gap: 15px;
   }


   #address {

     max-width: 250px;


   }

 }