  * {
    margin: 0px;
    padding: 0px;
  }

  :root {
    --main-font: 'Inter', sans-serif;
  }

  header {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    flex-wrap: wrap;
  }


  #logo {
    height: 80px;
    max-width: 100%;
    width: auto;
  }

  .links {
    height: 40px;
    margin: 25px;
    display: flex;
    column-gap: 35px;
    font-family: var(--main-font);
    font-weight: bold;
    align-items: center;

  }

  .links a {
    font-size: 17px;
    color: white;
    text-decoration: none;
    cursor: pointer;


  }

  .links a:hover {
    color: #f64c4c;
  }

  .links a.active {
    color: #f64c4c;
  }


  #num {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f64c4c;
    height: 35px;
    width: 150px;
    text-align: center;
    border-radius: 25px;
    font-size: bold;
  }

  #num:hover {
    background-color: #df5f5f;
    color: white;
  }

  #hamburger {
    display: none;
  }

  @media (max-width: 1000px) {
    .top-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .links {
      display: none;
    }

    #logo {
      max-width: 50%
    }

    #hamburger {
      display: block;
      filter: invert(1);
    }

  }

  @media (max-width: 768px) {

    header {
      flex-direction: column;
      align-items: start;

    }

    .links {
      display: none;

    }

    #num {
      width: 180px;
    }

  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin: 40px 20px;
    text-align: center;
  }

  section p {
    font-size: 30px;
    max-width: 900px;
    width: 90%;
    margin: 10px auto;
    color: #333;
  }

  section ul {
    max-width: 900px;
    width: 90%;
    padding-left: 20px;
    list-style-position: inside;
  }

  li {
    font-size: 18px;
    line-height: 1.6;
    color: #3ca0c9;
    margin-bottom: 5px;
  }

  section img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 8px;

  }

  @media (max-width: 768px) {
    section p {
      font-size: 24px;
    }

    li {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  footer {
    background-color: #1f1f1f;
    padding: 40px 20px;
  }


  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: #333;
  }

  .item {
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logos img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }


  .footer-info>div:first-child {
    color: white;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 17px;
    font-family: var(--main-font);
    letter-spacing: 2px;
  }


  #address {
    color: #c2bcbc;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 30px;
    line-height: 1.6;
    font-size: 14px;
    padding: 0 15px;
  }


  #developer {
    text-align: center;
    font-size: 18px;
    color: #918383;
    margin-top: 20px;
  }


  @media (max-width: 768px) {

    .footer-info>div:first-child {
      flex-direction: column;
      gap: 15px;
      font-size: 17px;

    }

    .logos {
      gap: 15px;
    }


    #address {

      max-width: 250px;


    }

  }