 * {
   margin: 0px;
   padding: 0px;
 }

 :root {
   --main-font: 'Inter', sans-serif;
 }

 header {
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: black;
 }


 #logo {
   height: 80px;
   width: 400px;
 }

 .links {
   height: 40px;
   margin: 25px;
   display: flex;
   column-gap: 35px;
   font-family: var(--main-font);
   font-weight: bold;
   align-items: center;

 }

 .links a {
   font-size: 17px;
   color: white;
   text-decoration: none;
   cursor: pointer;


 }

 .links a:hover {
   color: #f64c4c;
 }

 .links a.active {
   color: #f64c4c;
 }


 #num {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #f64c4c;
   height: 35px;
   width: 150px;
   text-align: center;
   border-radius: 25px;
   font-size: bold;
 }

 #num:hover {
   background-color: #df5f5f;
   color: white;
 }

 .carousel-box {
   height: 550px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 20px;
 }

 .carousel {
   border: 2px solid black;
   height: 300px;
   width: 1000px;
 }

 #carousel-text {
   font-size: 50px;
 }

 .line {
   border-bottom: 2px solid rgb(205, 193, 193);
   height: 1px;
   width: 1000px;
   margin-left: 330px;
 }

 /* Next */
 #sec1 {
   font-family: "Inter", sans-serif;
   color: rgb(88, 88, 88);
   font-size: 20px;
   text-align: center;
   font-size: 40px;
   width: 800px;
   margin: 100px auto;
   margin-bottom: 50px;
   font-weight: bold;
 }

 .sec1-form {
   height: 1100px;
   width: 60%;
   margin: 10px auto;
   display: flex;
   flex-direction: row;
   column-gap: 20px;
   justify-content: space-between;
 }

 #enq-btn {
   height: 60px;
   width: 250px;
   font-size: 20px;
   background-color: #f64c4c;
   color: white;
   border: none;
   margin: 10px auto;
   font-size: 15px;
   letter-spacing: 2px;
 }

 #enq-btn:hover {
   background-color: #ff9797;
   cursor: pointer;
 }

 .sec1-items {
   text-align: center;
   width: 600px;
   row-gap: 10px;
   display: flex;
   text-align: left;
   flex-direction: column;
 }

 .sec1-items>p {
   font-family: "Inter", sans-serif;
   color: rgb(60, 60, 60);
   font-size: 22px;
   line-height: 24px;
   letter-spacing: 1px;
 }

 .sec1-items2>p {
   font-family: "Inter", sans-serif;
   color: rgb(60, 60, 60);
 }


 .sec1-items2 {
   font-family: "Inter", sans-serif;
   color: rgb(58, 58, 58);
   display: flex;
   row-gap: 10px;
   flex-direction: column;
   text-align: left;
 }


 .sec1-items2 p {
   font-weight: bold;
   font-size: 20px;
   margin-bottom: 30px;
 }

 .sec1-items2 input {
   height: 50px;
 }

 .sec1-items2 textarea {
   height: 100px;
 }


 ul {
   font-size: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 20px;
 }


 footer {
   height: 500px;
   background-color: #1f1f1f;
 }


 .logos {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 130px;
   column-gap: 20px;
   background-color: #333;

 }

 .logos img {
   cursor: pointer;
 }


 .item {
   border-radius: 50%;
   padding: 10px;
   background-color: white;
 }


 .footer-info>div {
   color: white;
   margin: 70px auto;
   text-align: center;
   display: flex;
   justify-content: center;
   column-gap: 20px;
   font-size: 17px;
   font-family: var(--main-font);
   letter-spacing: 2px;
 }

 #developer {
   text-align: center;
   font-size: 20px;
   color: #918383;
 }